<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shs.vetterhealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shs.vetterhealth.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shs.vetterhealth.blogzone.PostActivity"
            android:parentActivityName="com.shs.vetterhealth.MainActivity"/>
        <activity android:name="com.shs.vetterhealth.RegisterActivity" />
        <activity android:name="com.shs.vetterhealth.LoginActivity" />
        <activity android:name="com.shs.vetterhealth.ProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.shs.vetterhealth.blogzone.SinglePostActivity"
            android:parentActivityName="com.shs.vetterhealth.MainActivity"></activity>
        <activity android:name="com.shs.vetterhealth.sleeptracker.MainActivity"
            android:parentActivityName="com.shs.vetterhealth.MainActivity" />
        <activity android:name="com.shs.vetterhealth.therapy.Dashboard"
            android:parentActivityName="com.shs.vetterhealth.MainActivity"/>
        <activity android:name="com.shs.vetterhealth.therapy.AnalysisDisplay"
            android:parentActivityName="com.shs.vetterhealth.MainActivity"/>
        <activity android:name="com.shs.vetterhealth.therapy.ApiAiTask"
            android:parentActivityName="com.shs.vetterhealth.MainActivity"/>
        <activity android:name="com.shs.vetterhealth.chatbot.MainActivity"
            android:parentActivityName="com.shs.vetterhealth.MainActivity" />

    </application>

</manifest>